<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618932711694-flhond3mu1bbgv5vgf0itouli62gm8gj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618932711694-flhond3mu1bbgv5vgf0itouli62gm8gj</string>
	<key>API_KEY</key>
	<string>AIzaSyAzgSiM_gQQFCjnTsA-WcVM003bKQZbnsY</string>
	<key>GCM_SENDER_ID</key>
	<string>618932711694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AndreaSanna.TriviaBattle</string>
	<key>PROJECT_ID</key>
	<string>triviabattle-32df3</string>
	<key>STORAGE_BUCKET</key>
	<string>triviabattle-32df3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618932711694:ios:46ebd8a8a9d8b6724f275f</string>
	<key>DATABASE_URL</key>
	<string>https://triviabattle-32df3-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>